#flask
#flask-cors
fastapi
uvicorn
numpy
pandas
waitress
#azure.storage.blob
PyMuPDF
nltk
python-dotenv
#flask-jwt-extended
langchain
langchain-openai
pymongo
langchain_mongodb
langchain_community
#transformers
#torch
pyjwt
python-decouple
pypdf
sklearn
joblib
transformers
torch
accelerate
bitsandbytes
boto3
PyPDF2
python-multipart
langchain-chroma
langchain-aws